# Files probably made by pyCharm
.idea/
__pycache__/
Images/
7scenes/
NUbotsField/
NUbotsDatasets/
ListOfFiles.txt
NoBallImages.txt
Results.txt
Results/NU*
training.log
logs/
tensorboard
