# Files probably made by pyCharm
.idea/
__pycache__/
Images/
7scenes/
NUbotsField/
NUbotsDatasets/
ListOfFiles.txt
NoBallImages.txt
Results.txt
training.log
my_weights_*
360cameraNUbotsField/
trail360.JPG
last_weights
best_model